<h4>Collocation Occurrence</h4>
<form #collocationForm="ngForm" (submit)="onSubmitCollocationForm()">
    <div class="row">
        <div class="form-group col-sm-3">
            <label for="collocation[text]">Text</label>
            <input class="form-control" type="text" name="collocation[text]" id="collocation[text]" [(ngModel)]="model.text" readonly>
        </div>
        <div class="form-group col-sm-3">
            <label for="collocation[ipa_spelling]">IPA Transcription</label>
            <input class="form-control" type="text" name="collocation[ipa_spelling]" id="collocation[ipa_spelling]" [(ngModel)]="model.ipa_spelling" required>
            <p class="help-block"><a href="http://lingorado.com/ipa/" target="_blank">Lookup <i class="fa fa-external-link"></i></a></p>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-3">
            <button type="submit" [disabled]="collocationForm.invalid" class="btn btn-primary">Submit Collocation</button>
        </div>
    </div>
</form>

<hr>

<h4>Usage Examples</h4>

<div class="row">
    <div class="col-sm-6">
        <ul class="usage-examples">
            <li *ngFor="let usageExample of model?.usage_examples?.records; let i = index">
                <div class="form-group">
                    <div class="input-group">
                        <label for="usage_example[{{ i }}]" class="sr-only"></label>
                        <input type="text" class="form-control" name="usage_example[{{ i }}]" id="usage_example[{{ i }}]" [(ngModel)]="usageExample.text" required>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" [disabled]="!usageExample.text" (click)="onSubmitUsageExampleAtIndex(i)">Submit</button>
                            <button class="btn btn-danger" type="button" (click)="onDeleteUsageExampleAtIndex(i)">Delete</button>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="form-group">
            <button class="btn btn-default" (click)="addUsageExample()"><i class="fa fa-plus"></i> Add Usage Example</button>
        </div>
    </div>
</div>