<form #form="ngForm">
    <fieldset>
        <legend>Upload</legend>
        <div class="form-group col-xs-6">
            <label for="picture">Picture</label>
            <input type="file" id="picture" name="picture" required>
            <p class="help-block">Select an image file.</p>
        </div>
        <!--<div class="form-group col-xs-6">
            <h4>Preview:</h4>
            <video controls [src]="previewFileUrl" *ngIf="previewFileUrl" width="300" height="200"></video>
        </div>-->

    </fieldset>

    <label *ngFor="let gender of genders">{{ gender?.name }}
        <input type="radio" name="gender" [value]="gender?.id" [(ngModel)]="speaker.genderId">
    </label>

    <div *ngFor="let localization of speaker.localizations">
        <label for="description[{{ localization.languageId }}]">Description</label>
        <textarea name="description[{{ localization.languageId }}]" class="description" id="description[{{ localization.languageId }}]" [(ngModel)]="localization.description" cols="30" rows="10"></textarea>

        <label for="name[{{ localization.languageId }}]"></label>
        <input type="text" name="name[{{ localization.languageId }}]" class="name" [(ngModel)]="localization.name" id="name[{{ localization.languageId }}]">

        <label for="location[{{ localization.languageId }}]"></label>
        <input type="text" name="location[{{ localization.languageId }}]" class="location" [(ngModel)]="localization.location" id="location[{{ localization.languageId }}]">
    </div>
</form>