<div class="form-group">
    <label for="video">Video File</label>
    <input type="file" id="video" (change)="onFileChange($event)">
    <p class="help-block">Select a video file.</p>
</div>

<div class="form-group">
    <label for="transcription">Transcription:</label>
    <textarea class="form-control" id="transcription">{{ transcriptionEmitted$ | async }}</textarea>
</div>

<div class="form-group">
    <label for="language">Transcription Language</label>
    <select class="form-control" id="language" (input)="onSelectLanguage($event)">
        <option *ngFor="let language of languages" [value]="language.code"
                [selected]="language === selectedLanguage">{{ language.englishName }}</option>
    </select>
</div>

<button id="transcribe-button" class="btn btn-default" [disabled]="!selectedVideoFile" (click)="onClickTranscribe()">Transcribe</button>