textarea {
  resize: none;
}

.writing-questions textarea {
  resize: vertical;
}

.writing-questions {
  list-style-type: none;
  padding: 0;
}

.writing-questions .btn--delete-writing-question {
  margin-top: 10px;
}

.transcription-panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}