<form role="form" #form="ngForm" (submit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control subcategory__name" [(ngModel)]="subcategoryNameModel" min="0" max="50"
               tabindex="1" autofocus required>
    </div>

    <p class="subcategory__created-at">{{ subcategory$.getValue()?.created_at }}</p>
    <p class="subcategory__updated-at">{{ subcategory$.getValue()?.updated_at }}</p>

    <div class="form-group">
        <label for="categories">Category</label>
        <select class="form-control" name="categories" id="categories" tabindex="2" required (input)="onSelectCategory($event)">
            <option *ngFor="let category of categories$ | async" [selected]="category?.id === currentCategoryId"
                    [value]="category?.id">{{ category?.name }}
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-default" tabindex="3" [disabled]="!subcategory$.getValue() || !form.valid">Submit</button>
</form>