<form #form="ngForm" (submit)="onSubmit()">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="video_id">Video ID</label>
                <div class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="videoId" name="video_id" id="video_id" placeholder="Ex. 123" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" [disabled]="form.invalid">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive" *ngIf="collocations.length">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>IPA</th>
            <th># Usage Examples</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let collocation of collocations">
            <td>{{ collocation.id }}</td>
            <td>{{ collocation.text }}</td>
            <td>{{ collocation.ipa_spelling }}</td>
            <td>{{ collocation.usage_examples.count }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs btn-block" [routerLink]="[collocation.id, 'edit']">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
